/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }

  .history {
    width: 12px;
    height: 12px;
    text-align: center;
    margin: 0 5px;
  }
  .history.xiu {
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 50px;
  }
  .history.tai {
    background-color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
    border-radius: 50px;
  }
  .dice {
    width: 65px;
    height: 65px;
    position: relative;
    border: 2px solid red;
    transform-style: preserve-3d;
    animation: roll 3s infinite;
  }

  .dice .side {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    backface-visibility: hidden;
  }

  .dice .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
  }

  .dice .one {
    transform: rotateX(90deg) translateZ(50px);
  }

  .dice .two {
    transform: translateZ(50px);
  }

  .dice .three {
    transform: rotateY(90deg) translateZ(50px);
  }

  .dice .four {
    transform: rotateY(-90deg) translateZ(50px);
  }

  .dice .five {
    transform: rotateX(-90deg) translateZ(50px);
  }

  .dice .six {
    transform: rotateY(180deg) translateZ(50px);
  }
  .talent-content {
    position: relative;
    animation: colorTransition 5s infinite alternate;
    border-radius: 50%;
    height: 500px;
    margin: 0 auto;
    width: 45%;
    top: 150px;
    &::before {
      content: "";
      width: 92%;
      height: 90%;
      position: absolute;
      right: 4%;
      border-radius: 50%;
      top: 5%;
      border: 1px solid ;
    }
    &::after{
      content: "";
      position: absolute;
      top: -14px;
      width: 105%;
      height: 106%;
      left: -3%;
      border: 2px solid gold;
      z-index: -1;
      border-radius: 50%;
    }
    .img-gif-momom{
    position: absolute;
    z-index: -1;
    top: -35%;
    width: 300px
    }
    .img-gif-momom-2{
      position: absolute;
      z-index: -1;
      top: -25%;
      width: 300px;
      right: -18%;
      transform: rotate(34deg);
    }
  @keyframes colorTransition {
  0% {
    background: linear-gradient(217deg, rgba(218,180,222,1) 33%, rgba(228,178,204,1) 72%, rgba(179,174,238,1) 100%);
  }
  25%{
    background: linear-gradient(217deg, rgba(148,197,233,1) 36%, rgba(189,222,180,1) 53%, rgba(238,174,202,1) 100%);
  }
  50%{
    background: linear-gradient(217deg, rgba(189,222,180,1) 43%, rgba(216,178,228,1) 72%, rgba(179,174,238,1) 100%);
  }
  100% {
    background: radial-gradient(circle, rgba(148,197,233,1) 69%, rgba(238,174,202,1) 100%);
  }
}
.bubble {
  position: relative;
  width: 200px;
  height: 100px;
  background-color: #ad77c5;
  transform: rotate(45deg);
  margin: 20px auto;
  animation: float 5s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  top: -330px;
  padding: 0 27px;
  border-radius: 50%;
  left: 60%;
  overflow: hidden;
  // p {
  //   animation: type 2s steps(12) forwards;
  //   white-space: nowrap;
  //   overflow: hidden;
  // }
  // @keyframes type {
  //   0% {
  //     width: 0;
  //   }
  //   100% {
  //     width: 100%;
  //   }
  // }
}



@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}


  }
  .btn-bet {
    position: relative;
    padding: 10px 20px;
    z-index: 1;
    background: gold;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .h-400 {
    height: 400px;
  }
  .h-600 {
    height: 800px;
  }
  .h-800 {
    height: 800px;
  }

.custom-tooltip{
  padding: 10px;
  color: #ccff00  ;
  font-weight: 600;
}
  
.bet-btn-value {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  .btn-bet-talent{
    margin-top: 30px;
  } 
  .text-bet-value{
    font-weight: 500;
    font-size: 140px;
    font-family: fantasy;
    font-weight: 500;
    line-height: 1;
    &.xiu{
      color: white;
    }
    &.tai{
      color: black;
    }
    &.active{
      color: #ccff00;
      }
  }
}

.btn-bet-reset{
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 15px;
  border: 1px solid;
  outline: none;
  font-weight: 500;
}

.bet-list{
  position: absolute;
  right: 16%;
  top: 103%;
  .btn-bet-talent{
    background-color: red;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 20px;
    font-weight: 600;
    padding: 20px;
    border-radius:50px;
    &.active{
    background-color: #ccff00;

    }
  }

}

  /* @keyframes roll {
    0%,
    100% {
      transform: translateZ(50px) rotateX(0deg) rotateY(0deg);
    }
    17% {
      transform: translateZ(50px) rotateX(90deg) rotateY(0deg);
    }
    33% {
      transform: translateZ(50px) rotateX(180deg) rotateY(0deg);
    }
    50% {
      transform: translateZ(50px) rotateX(180deg) rotateY(90deg);
    }
    67% {
      transform: translateZ(50px) rotateX(180deg) rotateY(180deg);
    }
    83% {
      transform: translateZ(50px) rotateX(270deg) rotateY(180deg);
    }
  } */
}
